* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Arial, sans-serif;
  color: #121214;
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }

  #contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template: center;
    gap: 0.5rem;
  }
}

#message {
  text-align: center;
}

button:hover {
  cursor: pointer;
  transition: filter 0.4s;

  filter: brightness(0.95);
}
